---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getImage, Image } from "astro:assets";
import Button from "@components/Button.astro";
import placeholder from "@assets/placeholder.jpg";
const Placeholder = await getImage({ src: placeholder, format: "webp" });
import CTA from "@components/CTA.astro";
import Partners from "@components/Partners.astro";
import Address from "@components/Address.astro";
---

<BaseLayout title="About - Buildluxe">
  <section
    class="bg-cover bg-no-repeat bg-center relative"
    style=`background-image:url(${Placeholder.src})`
  >
    <div class="h-full w-full bg-black/30">
      <div
        class="container mx-auto px-5 py-10 lg:py-20 min-h-[40vh] lg:min-h-[70vh] flex items-center justify-center"
      >
        <h1
          class="text-white text-balance text-center uppercase drop-shadow-4xl"
        >
          <p class="font-thin">Nice to</p>
          <p class="font-black">meet you!</p>
        </h1>
      </div>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto px-5 py-10 lg:py-20 grid lg:grid-cols-2 gap-12 lg:gap-28"
    >
      <div>
        <h2 class="uppercase">
          <p class="font-thin">Who</p>
          <p class="font-black">we are</p>
        </h2>
        <Button classes="mt-8">Discover Ideal Service</Button>
      </div>
      <div>
        <p>
          Using Latest in Design, Materials and home automations our constructed
          villas are Functional, Convenient and Luxurious.
        </p>
        <p class="mt-8">
          Minimalistic, Art embedded with a tinch Culture, Durable and
          Sustainable Design are among some strong unique points our architects
          focuses on.
        </p>
        <Button classes="mt-8" link="/contact">Let's Talk</Button>
      </div>
    </div>
  </section>

  <div class="bg-neutral-50">
    <Address />
  </div>
  <Partners />
  <CTA />
</BaseLayout>
