<section>
  <div
    class="container mx-auto px-5 py-10 lg:py-20 grid lg:grid-cols-2 gap-12 lg:gap-28 max-lg:text-center"
  >
    <div>
      <h2 class="uppercase">
        <p class="font-thin">Where to</p>
        <p class="font-black">find us</p>
      </h2>
    </div>
    <div>
      <h3>Address</h3>
      <address class="not-italic mt-4">
        <p>Zuarinagar</p>
        <p>Vascu</p>
        <p>Goa 403802</p>
        <p>India</p>
      </address>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3846.789120133287!2d73.86049524049177!3d15.38790298525874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfb81679153bf5%3A0xc222709dfc98ba1f!2sMagsons!5e0!3m2!1sen!2sin!4v1692442816547!5m2!1sen!2sin"
    class="w-full"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
