---
import { twMerge } from "tailwind-merge";
interface Props {
  link?: string;
  onclick?: string;
  classes?: string;
  variant?: "primary" | "secondary" | "outlined";
}

const { link, onclick, classes, variant = "primary" } = Astro.props as Props;

const defaultClasses =
  "hover:scale-90 bg-black text-white border border-black px-6 py-3 inline-block w-fit hover:bg-white hover:text-black transition-all duration-300";
const secondary =
  "bg-white text-black hover:bg-transparent hover:text-white border-white";
const outlined =
  "text-dark border border-dark bg-transparent hover:bg-blue-300/60";

let variantClasses = "";
if (variant == "secondary") variantClasses = secondary;
if (variant == "outlined") variantClasses = outlined;

const twClasses = twMerge(defaultClasses, variantClasses, classes);
---

{
  link && (
    <a href={link} class={twClasses} {...Astro.props}>
      <slot>Button</slot>
    </a>
  )
}

{
  onclick && (
    <button
      onclick={link}
      class={twMerge(defaultClasses, classes)}
      {...Astro.props}
    >
      <slot>Button</slot>
      <button />
    </button>
  )
}

{
  !link && !onclick && (
    <a class={twClasses}>
      <slot>Button</slot>
    </a>
  )
}
